@use 'base/vars' as v;
@use 'base/mixins' as m;

h1{
    padding-top: 1rem;
    color: v.$red;
}

h4{
    text-transform: none;
}

p{
    text-transform: none;
}

.reservation_general_container{
    width: 100%;
    align-items: center;
}

.reservationForm_mainbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 2rem;
    margin-top: 15%;
    margin-right: 20%;
    margin-left: 20%;
    background: v.$white;
    box-shadow: 0 .5rem 1rem v.$shadow;
    padding: 3rem 0 2rem 0;
    margin-bottom: 3rem;
}

.title_of_mainbox{
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.8rem;
    color: v.$gray;
}

.content_of_mainbox{
    margin: 0 auto;
    width: 65%;
    padding: 1rem;
    form{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1.5rem;
    }
}

.input_date_reservation_box{
    border: 1px solid v.$mediumgray;
    padding: .5rem 1.5rem;
    border-radius: .5rem;
    outline: none;
    margin-bottom: 2rem;
}

.reservationTextBox{
    border: 1px solid v.$mediumgray;
    padding: .5rem 1.5rem;
    border-radius: .5rem;
    outline: none;
    text-transform: none;
}

.reservationButton {
    font-weight: 600;
    padding: 1.5rem 3.5rem;
    margin: 0 auto;
    background: v.$red;
    color: v.$white;
    border-radius: 25rem;
    border: 2px solid transparent;
    align-self: center;
    &:hover {
        background: transparent;
        border: 2px solid v.$red;
        color: v.$red;
    }
}